$base-font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
$yellow: #FFE600;
$base-font-color:#333;
$dark-gray:#333;
$gray:#666;
$gray-medium:#999;
$light-gray:#EEE;
$white:#FFF;
$light-blue:#3483FA;

// FONT SIZE    
$small-font-size:12px;
$med-font-size:14px;
$base-font-size:16px;
$medium-font-size:18px;
$large-font-size:24px;
$big-font-size:28px;
$bigger-font-size:46px;

// Border radius
$base-border-radius:4px;

$big-padding:32px;